<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="a1" class="com.soniya.framework.testclasses.toload.A1">
		<property name="firstname" value="soniya1" />
		<property name="nickname" value="sonu1" />
	</bean>

	<bean id="a2" class="com.soniya.framework.testclasses.toload.A2">
		<property name="name" value="test" />
		<property name="a1obj" ref="a1" />
		<property name="a3obj" ref="a3" />
	</bean>

	<bean id="a3" class="com.soniya.framework.testclasses.toload.A3"
		scope="singleton">
		<property name="firstname" value="soniya2" />
		<property name="height" value="5.3" class="java.lang.Float" />
	</bean>

	<bean id="a4" class="com.soniya.framework.testclasses.toload.A4" scope="prototype">
		<property name="firstname" value="soniya1" />
		<property name="nickname" value="sonu1" />
	</bean>


</beans>